#services-config div.option.option-smart-off .service.share-taringa,
.sd-content ul li.preview-item div.option.option-smart-off a.share-taringa {
	position: relative;
	padding-left: 25px;
}
#services-config div.option.option-smart-off .service.share-taringa::before,
.advanced.preview-item div.option.option-smart-off .share-taringa::before {
	content: " ";
	position: absolute;
	top: 6px;
	left: 5px;
	width: 16px;
	height: 16px;
	display: block;
	background: url( '../img/taringa.svg' ) no-repeat 0;
	opacity: .7;
}

.advanced.preview-item div.option.option-smart-off .share-taringa::before {
	top: 4px;
	opacity: .5;
}

.sd-content ul li.preview-item.no-icon div.option.option-smart-off a.share-taringa {
	padding-left: 5px;
}
.advanced.preview-item.no-icon div.option.option-smart-off .share-taringa::before {
	display: none;
}